# added by check_manifest.py
include *.py
include inspector
include tests
recursive-include inspector *.css
recursive-include inspector *.html
recursive-include inspector *.py
recursive-include tests *.py
